<h1>Create new blogpost</h1>

<%= form_with model: @blogpost do |form| %>
	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
		<% @blogpost.errors.full_messages_for(:title).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
		<%= form.label :body %><br>
		<%= form.text_field :body %>
		<% @blogpost.errors.full_messages_for(:body).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
		<%= form.submit %>
	</div>
<% end %>
